@import-normalize;

$primary: #36B996;
$secondary: #8DEFCB;
$info: #D8D8D8;
$light: #F7F7F7;
$dark: #4B4B4B;

@import "~bootstrap/scss/bootstrap";

@import './basic/basic';

@import './components/stepBar';
@import './components/text';
@import './components/payMethod';
@import './components/list';
@import './components/cardLabelBox';
@import './components/formControl';
@import './components/showFinish';
@import './components/orderInfo';
@import './components/decoration';
@import './components/mainContent';